[Unit]
Description=A simple webserver service running as daemon.
# Out HTTP service should run only after TCP/IP networking is ready at OS level
After=network.target

[Service]
WorkingDirectory=/home/madhurbhaiya/code/Daemonize-Webserver-Example
User=madhurbhaiya

# If we need to specify any environment variables required by the executable
# Environment=GOPATH=/home/madhurbhaiya/go

Type=exec

# Here specify the path of the executable to run
ExecStart=/home/madhurbhaiya/code/Daemonize-Webserver-Example/runDaemon.sh

# We want our service to keep running, so restart on failure (after 5 seconds)
Restart=on-failure
RestartSec=5

# Install section is needed when we want our service to be enabled and run on OS reboot
[Install]
WantedBy=multi-user.target
